# LISTS Example

In [2]:
courses = ['English','Computer','Physics','Science','Maths']
print(courses)

## First Element in the List
print(courses[0])

## Last Element in the List
print(courses[-1]) 

## Count the total number of Element in the List
print(len(courses))

courses.reverse()
print(courses)

['English', 'Computer', 'Physics', 'Science', 'Maths']
English
Maths
5
['Maths', 'Science', 'Physics', 'Computer', 'English']

In [3]:
name = "KarthikD"
print(name)
print(name[::-1])

print(courses)
print(courses[::-1])
courses.sort()
print(courses)

KarthikD
DkihtraK
['Maths', 'Science', 'Physics', 'Computer', 'English']
['English', 'Computer', 'Physics', 'Science', 'Maths']
['Computer', 'English', 'Maths', 'Physics', 'Science']

In [39]:
##List Ranges
print(courses[1:3])


courses.append('Arts')

print(courses)

courses.insert(2,'Medicine')
print(courses)

courses.insert(2,'IT')

print(courses)

['English', 'Medicine']
['Computer', 'English', 'Medicine', 'Maths', 'Physics', 'Science', 'Arts', 'Arts']
['Computer', 'English', 'Medicine', 'Medicine', 'Maths', 'Physics', 'Science', 'Arts', 'Arts']
['Computer', 'English', 'IT', 'Medicine', 'Medicine', 'Maths', 'Physics', 'Science', 'Arts', 'Arts']

In [8]:
add_course = ['Language','Competitive Exams']
print(add_course)

#courses.append(add_course)
print(courses)

courses.extend(add_course)
print(courses)

['Language', 'Competitive Exams']
['English', 'Science', 'Maths', 'Computer', 'Physics']
['English', 'Science', 'Maths', 'Computer', 'Physics', 'Language', 'Competitive Exams']

In [17]:
dup_data = ["karthik","DON","","DK","Sam","John","DK"]
print(dup_data)
print(dup_data.index('DK'))

dup_data.reverse()
print(dup_data)
print(dup_data.index('DON'))

['karthik', 'DON', '', 'DK', 'Sam', 'John', 'DK']
3
['DK', 'John', 'Sam', 'DK', '', 'DON', 'karthik']
5

In [19]:
dup_data.sort(reverse=True)
print(dup_data)

['karthik', 'Sam', 'John', 'DON', 'DK', 'DK', '']

In [14]:
courses.sort(reverse=True)

In [15]:
print(courses)

['Science', 'Physics', 'Maths', 'Language', 'English', 'Computer', 'Competitive Exams']

In [40]:
print(courses)

['Computer', 'English', 'IT', 'Medicine', 'Medicine', 'Maths', 'Physics', 'Science', 'Arts', 'Arts']

In [21]:
courses.reverse()
print(courses)

['Competitive Exams', 'Computer', 'English', 'Language', 'Maths', 'Physics', 'Science']

In [20]:
courses.sort()
print(courses)

['Competitive Exams', 'Computer', 'English', 'Language', 'Maths', 'Physics', 'Science']

In [22]:
print(courses)

['Competitive Exams', 'Computer', 'English', 'Language', 'Maths', 'Physics', 'Science']

In [23]:
print(sorted(courses))

['Competitive Exams', 'Computer', 'English', 'Language', 'Maths', 'Physics', 'Science']

In [41]:
numbers = [1,2,3,4,5]

print(min(numbers))
print(max(numbers))
print(sum(numbers))

1
5
15

In [29]:
dup_data = ["karthik","DON","DK","Sam","John","DK"]
uniq = set(dup_data)
print(dup_data)
print(uniq)
uniq_list = list(uniq)
print(uniq_list)

['karthik', 'DON', 'DK', 'Sam', 'John', 'DK']
{'Sam', 'DK', 'DON', 'John', 'karthik'}
['Sam', 'DK', 'DON', 'John', 'karthik']

In [33]:
empty_list = []
for name in dup_data:
    if name in empty_list:
        pass
    else:
        empty_list.append(name)
    
print(empty_list)

['karthik', 'DON', 'DK', 'Sam', 'John']

In [37]:

if "DON" in dup_data:
    print("name existing")
else:
    print("no records found")

name existing

# Finding Index of the List

In [42]:
print(courses)

['Computer', 'English', 'IT', 'Medicine', 'Medicine', 'Maths', 'Physics', 'Science', 'Arts', 'Arts']

In [43]:
print(courses.index('English'))

1

In [44]:
print('English' in courses)

True

In [45]:
print('Tamil' in courses)

False

# For Loop

In [26]:
print(courses)

['Competitive Exams', 'Computer', 'English', 'Language', 'Maths', 'Physics', 'Science']

In [28]:
for item1,item2 in enumerate(courses, start=100):
    print("The course number and name is ", item1, ", ",item2)

The course number and name is  100 ,  Competitive Exams
The course number and name is  101 ,  Computer
The course number and name is  102 ,  English
The course number and name is  103 ,  Language
The course number and name is  104 ,  Maths
The course number and name is  105 ,  Physics
The course number and name is  106 ,  Science

In [28]:
for item1,item2 in enumerate(courses, start=100):
    print("The course name is ", item1, "and ",item2)

The course name is  100 and  Competitive Exams
The course name is  101 and  Computer
The course name is  102 and  English
The course name is  103 and  Language
The course name is  104 and  Maths
The course name is  105 and  Physics
The course name is  106 and  Science

In [47]:
for index, course in enumerate(courses, start=10):
    print(index, course)

10 Computer
11 English
12 IT
13 Medicine
14 Medicine
15 Maths
16 Physics
17 Science
18 Arts
19 Arts

In [59]:

ids = ["1","2","3","4","5"]
ids = '--'.join(ids)
print(ids)

list_n = ids.split("--")
print(list_n)

1--2--3--4--5
['1', '2', '3', '4', '5']

In [32]:

print(courses)

['Competitive Exams', 'Computer', 'English', 'Language', 'Maths', 'Physics', 'Science']

In [37]:

new_course = ids.split('-')
print(new_course)
print(len(new_course))

['1', '', '2', '', '3', '', '4', '', '5']
9

In [60]:
graphChoices = [{'choice_id': 1, 'choice_name': 'MIN', 'choice_type': 'C'}, {'choice_id': 2, 'choice_name': 'MAX', 'choice_type': 'C'}, {'choice_id': 3, 'choice_name': 'Average', 'choice_type': 'C'}, {'choice_id': 4, 'choice_name': 'Graphs', 'choice_type': 'C'}]

In [61]:
templateDetails = [{'choice_label': 'The Minimum Value', 'choice_id': 1, 'choice_name': 'MIN'}, {'choice_label': 'Average Value', 'choice_id': 3, 'choice_name': 'Average'}, {'choice_label': 'Graphical Represents', 'choice_id': 4, 'choice_name': 'Graphs'}]

In [65]:
print(graphChoices)
print(templateDetails)

[{'choice_id': 1, 'choice_name': 'MIN', 'choice_type': 'C'}, {'choice_id': 2, 'choice_name': 'MAX', 'choice_type': 'C'}, {'choice_id': 3, 'choice_name': 'Average', 'choice_type': 'C'}, {'choice_id': 4, 'choice_name': 'Graphs', 'choice_type': 'C'}]
[{'choice_label': 'The Minimum Value', 'choice_id': 1, 'choice_name': 'MIN'}, {'choice_label': 'Average Value', 'choice_id': 3, 'choice_name': 'Average'}, {'choice_label': 'Graphical Represents', 'choice_id': 4, 'choice_name': 'Graphs'}]

In [63]:
graphChoices[0]['choice_name']

'MIN'

In [64]:
templateDetails[0]['choice_name']

'MIN'

In [67]:
for selectData in graphChoices:
    print(selectData['choice_id'], selectData['choice_name'])

1 MIN
2 MAX
3 Average
4 Graphs

In [27]:
for selectData in templateDetails:
    print(selectData['choice_name'])

MIN
Average
Graphs

In [31]:
for selectData in graphChoices:
    print("option id",selectData['choice_id'])
    for temp in templateDetails:
        if selectData['choice_id'] == temp['choice_id']:
            print("temp id", temp['choice_id'])

option id 1
temp id 1
option id 2
option id 3
temp id 3
option id 4
temp id 4

# TUPLES

In [24]:
# Tuples is an immutable object

tuple1 = ('English','Science','Maths','Computer')
tuple1
tuple2 = tuple1

#No update or modification is available

# SETS

In [80]:
# Set is a un-order set of values and not allow duplicate values
cs_course = {'History','Math','Science','Computer','Math'}
cs_course = {'Java','Python','Perl','Computer','Networking','Language'}

print(cs_course)

{'Java', 'Networking', 'Computer', 'Python', 'Language', 'Perl'}

In [81]:
{'Arts' in cs_course}

{False}

In [82]:
{'Language' in cs_course}

{True}

In [83]:
art_course = {'History','Design','Dance', 'Language'}

print(cs_course.union(art_course))

{'Java', 'Networking', 'Dance', 'History', 'Computer', 'Design', 'Python', 'Language', 'Perl'}

In [84]:
print(cs_course.difference(art_course))

{'Java', 'Networking', 'Computer', 'Python', 'Perl'}

In [85]:
print(art_course.difference(cs_course))

{'Dance', 'Design', 'History'}

In [86]:
print(cs_course.intersection(art_course))

{'Language'}

# Empty Values Declaration

In [38]:
#Empty Lists
empty_list = []
print(empty_list)
print(type(empty_list))
empty_list = list()
print(empty_list)
print(type(empty_list))

[]
<class 'list'>
[]
<class 'list'>

In [40]:
#Empty Tuples
empty_tuple = ()
empty_tuple = tuple()
print(empty_tuple)
print(type(empty_list))

()
<class 'list'>

In [42]:
#Empty Sets
empty_set = {}  ## Its empty Dictionary
print(empty_set)
print(type(empty_set))
empty_set = set()
print(empty_set)
print(type(empty_set))

{}
<class 'dict'>
set()
<class 'set'>

In [45]:
empty_list = []

In [48]:
num = [1,2,3,4]

for res in num:
    empty_list.append(res)
    
empty_list

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [88]:
print(dict(enumerate(cs_course)))

{0: 'Java', 1: 'Networking', 2: 'Computer', 3: 'Python', 4: 'Language', 5: 'Perl'}

In [87]:
print(dict(enumerate(empty_list)))

{0: 'karthik', 1: 'DON', 2: 'DK', 3: 'Sam', 4: 'John'}

# Dictionary

In [4]:
## Its like key, pair value 
student = {'name':'Karthik','age':30,'courses':['Maths','Science']}

In [5]:
print(student.get('age'))

30

In [6]:
print(student.get('school'))

None

In [7]:
student

{'name': 'Karthik', 'age': 30, 'courses': ['Maths', 'Science']}

In [8]:
print(student['name'])

Karthik

In [9]:
print(student['courses'][1])

Science

In [10]:
## TO avoid the key absent erro use the get method
print(student.get('phone'))
print(student.get('phone','Not Found'))

None
Not Found

In [11]:
## Adding/Updating a  key in dictionary
student['phone'] = '9611366612'
print(student)
student['name'] = 'DKY'
print(student)

{'name': 'Karthik', 'age': 30, 'courses': ['Maths', 'Science'], 'phone': '9611366612'}
{'name': 'DKY', 'age': 30, 'courses': ['Maths', 'Science'], 'phone': '9611366612'}

In [12]:
student.update({'name':'Don', 'eid': 9254})

In [13]:
print(student)

{'name': 'Don', 'age': 30, 'courses': ['Maths', 'Science'], 'phone': '9611366612', 'eid': 9254}

In [15]:
student.keys()

dict_keys(['name', 'age', 'courses', 'phone', 'eid'])

In [17]:
student.values()

dict_values(['Don', 30, ['Maths', 'Science'], '9611366612', 9254])

In [18]:
student.items()

dict_items([('name', 'Don'), ('age', 30), ('courses', ['Maths', 'Science']), ('phone', '9611366612'), ('eid', 9254)])

In [21]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "years": 1964
}
thisdict.update({"year": 2020})

In [22]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'years': 1964, 'year': 2020}

## Nested Loops

In [23]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [33]:
for key, value in myfamily.items():
    print(value)
    for data in value.values():
        print(data)

{'name': 'Emil', 'year': 2004}
Emil
2004
{'name': 'Tobias', 'year': 2007}
Tobias
2007
{'name': 'Linus', 'year': 2011}
Linus
2011

In [70]:
del student['age']

In [69]:
print(student)

{'name': 'Don', 'courses': ['Automation', 'Engineering'], 'phone': '9611366612', 'age': 28}

In [97]:
age = student.pop('age')
print(age)

28

In [99]:
student.pop('name')

'Don'

In [100]:
print(student)

{'courses': ['Automation', 'Engineering'], 'phone': '9611366612'}

In [25]:
print(len(student))

3

In [105]:
print(student.values())
print(student.keys())

dict_values([['Automation', 'Engineering'], '9611366612', 'Don', 28])
dict_keys(['courses', 'phone', 'name', 'age'])

# FOR Loop

In [106]:
for key, value in student.items():
    print(key, value)

courses ['Automation', 'Engineering']
phone 9611366612
name Don
age 28

In [107]:
for key, value in student.items():
    print(key, value)

courses ['Automation', 'Engineering']
phone 9611366612
name Don
age 28

# ARGS vs KWARGS

In [108]:
def adder(x,y,z):
    print("sum:",x+y+z)

adder(5,10,15,20,25)

TypeError: adder() takes 3 positional arguments but 5 were given

In [124]:
def adder(*args):
    sum=0
    print("sums",args)
    for arg in args:
        sum +=arg 
    print(sum)

In [127]:
adder(5,10,15,20,253)
adder(5,23)

sums (5, 10, 15, 20, 253)
303
sums (5, 23)
28

In [39]:
def intro(**data):
    #print("\nData type of argument:",type(data))
    print(data['Age'])
    for key, value in data.items():
        print("{} is {}".format(key,value))

intro(Firstname="Sita", Lastname="Sharma", Age=22, Phone=1234567890)
intro(Firstname="John", Lastname="Wood", Email="johnwood@nomail.com", Country="Wakanda", Age=25, Phone=9876543210)

22
Firstname is Sita
Lastname is Sharma
Age is 22
Phone is 1234567890
25
Firstname is John
Lastname is Wood
Email is johnwood@nomail.com
Country is Wakanda
Age is 25
Phone is 9876543210

In [149]:
old_list = [1, 2, 3]

# copy list using =
new_list = old_list


# add an element to list
new_list.append('a')

print('New List:', new_list)
print('Old List:', old_list)

New List: [1, 2, 3, 'a']
Old List: [1, 2, 3, 'a']

In [150]:
old_list = [1, 2, 3]

# copy list using =
new_list = old_list.copy()


# add an element to list
new_list.append('a')

print('New List:', new_list)
print('Old List:', old_list)

New List: [1, 2, 3, 'a']
Old List: [1, 2, 3]

In [156]:
import pickle

file_name = "names.pkl"

names = ['karthik', 'Sam', 'John', 'DON', 'DK', 'DKDON']

file_object = open(file_name, "wb")
pickle.dump(names, file_object)

file_object.close()

## get data from pickle

file_object = open(file_name, "rb")
names_list = pickle.load(file_object)
print(names_list)

['karthik', 'Sam', 'John', 'DON', 'DK', 'DKDON']

In [1]:
from datetime import datetime

In [15]:
print(datetime.now())

2021-09-28 16:00:10.996828

In [16]:
now = datetime.now()

In [26]:
print(now.strftime("%Y-%m-%d %H:%M:%S"))

2021-09-28 16:00:12

In [4]:
num_list = [3,4,1,3,2,1,5,7,3,2,1,5,4,2,3]
num_list

[3, 4, 1, 3, 2, 1, 5, 7, 3, 2, 1, 5, 4, 2, 3]

In [5]:
num_list.sort()
num_list

[1, 1, 1, 2, 2, 2, 3, 3, 3, 3, 4, 4, 5, 5, 7]

In [8]:
max_num = 0
for number in num_list:
    if number > max_num :
        max_num = number
    else:
        pass

print(max_num)

7

In [29]:
def most_frequent(List):
    counter = 0
    num = List[0]
     
    for i in List:
         curr_frequency = List.count(i)
         if(curr_frequency> counter):
            counter = curr_frequency
            num = i
            print("max present number is ", num)
 
    return num
 
List = [2, 1, 2, 2, 1, 3]
List = [10,11,3,4,1,3,2,1,5,7,3,2,1,5,4,2,3]

print(most_frequent(List))

max present number is  10
max present number is  3
3

In [23]:
len(List)

15

In [32]:
List.count(3)

4

In [34]:
student
x = None

if x is None:
    print("it is a none value")

NameError: name 'student' is not defined