In [2]:
'''
This is a comment
written in
more than just one line
'''
print("Hello, World!")

Hello, World!

In [3]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [8]:
x = str(3)    # x will be '3'
print(x, type(x))
y = int(3)    # y will be 3
print(y, type(y))
z = float(3)  # z will be 3.0 
print(z, type(z))

3 <class 'str'>
3 <class 'int'>
3.0 <class 'float'>

# Multiple Variable Assignment

In [9]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [11]:
x, y, z = ["Orange", "Banana", "Cherry"],[1,2,3],{'id': 9254, 'name':'karthik'}
print(x)
print(y)
print(z)

['Orange', 'Banana', 'Cherry']
[1, 2, 3]
{'id': 9254, 'name': 'karthik'}

In [76]:
x = y = z = ["Orange", "Banana", "Cherry"]
print(x)
print(y)
print(z)

['Orange', 'Banana', 'Cherry']
['Orange', 'Banana', 'Cherry']
['Orange', 'Banana', 'Cherry']

In [25]:
a = 1,2,3
print(a , type(a))

(1, 2, 3) <class 'tuple'>

In [26]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [30]:
x = 5
y = "John"
print(y + str(x))

John5

## Global Variable

###### Globale variable declaring inside a function

In [31]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [232]:
def myfunc():
    #global mood
    feeling = "fantastic"

myfunc()

print("Python is " + feeling)

NameError: name 'feeling' is not defined

In [45]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [48]:
import random

print(random.randrange(1, 10))

2

# Python Strings

In [49]:
str = "Hello World"
print(str[1])

e

In [50]:
for char in str:
    print(char)

H
e
l
l
o

W
o
r
l
d

#### length of the string

In [51]:
print(len(str))

11

#### check a substring in string

In [59]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [64]:
if type(txt) == str:
    print("yes")
else:
    print("False")

False

In [72]:
import six
if isinstance(txt, __builtin__.str):
    print("yes it is string")
else:
    print("false")

yes it is string

In [82]:
var = "a string"
if isinstance(z, list):
    print("it is list")
    print(z)

it is list
['Orange', 'Banana', 'Cherry']

In [71]:
message = isinstance("Hello World",__builtin__.str)
print("message is a string:", message)

message is a string: True

### Negative Indexing

In [83]:
num = "1234567"
print(num[-1])

7

In [95]:
print(num[-7:-3])

1234

In [98]:
alpha = "AbcDef"
print(alpha)
print(alpha.upper())
print(alpha.lower())

AbcDef
ABCDEF
abcdef

In [100]:
a = " Hello, World! "
print(a)
print(a.strip())

 Hello, World!
Hello, World!

In [103]:
a = "Hello, World!"
print(a.replace("o", "x"))

Hellx, Wxrld!

In [105]:
print(a.split('o'))

['Hell', ', W', 'rld!']

In [119]:
string = "yes it is string"
print(string.capitalize())
print(string.casefold())
print(string.center(30))
print(string.count("t"))

Yes it is string
yes it is string
       yes it is string
2

In [124]:
txt = "Hello, welcome to my world."

x = txt.find("k")

print(x)

-1

In [125]:
txt = "Hello, welcome to my world."

x = txt.index("k")

print(x)

ValueError: substring not found

## Python Lists

In [127]:
mylist = ["apple", "banana", "cherry"] 
print(mylist)

['apple', 'banana', 'cherry']

In [128]:
print(len(mylist))

3

In [129]:
list1 = ["abc", 34, True, 40, "male"] 
print(list1)

['abc', 34, True, 40, 'male']

#### note the double round-brackets

In [130]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [139]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [135]:
print(thislist[1])
print(thislist[-1])
print(thislist[2:5])
print(thislist[5])

banana
mango
['cherry', 'orange', 'kiwi']
melon

In [136]:
 print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [137]:
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [138]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [140]:
print(thislist)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [142]:
thislist.pop(3)

'orange'

In [143]:
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'melon']

In [144]:
thislist.pop()

'melon'

In [148]:
thislist.remove("apple")

In [149]:
thislist

['banana', 'cherry', 'kiwi']

In [150]:
del thislist[0]

In [151]:
thislist

['cherry', 'kiwi']

In [152]:
thislist.clear()
print(thislist)

[]

## List sorting

In [155]:
fruits = ["orange", "mango", "kiwi", "pineapple", "banana"]
print(fruits)  
fruits.sort()
print(fruits)

fruits.sort(reverse=True)
print(fruits)

['orange', 'mango', 'kiwi', 'pineapple', 'banana']
['banana', 'kiwi', 'mango', 'orange', 'pineapple']
['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [161]:
num = [55, 23, 12, 82, 30, 18]

num.reverse()
print(num)
num.sort()
print(num)

[18, 30, 82, 12, 23, 55]
[12, 18, 23, 30, 55, 82]

In [162]:
print(num)

[12, 18, 23, 30, 55, 82]

In [166]:
a = [1,2,3]
b = a
print(a)
a.pop()
print(a)

print(b)

[1, 2, 3]
[1, 2]
[1, 2]

In [168]:
a = [1,2,3]
b = a.copy()
print(a)
a.pop()
print(a)

print(b)

[1, 2, 3]
[1, 2]
[1, 2, 3]

In [180]:
tuple1 = ("apple", "banana", "cherry")
print(id(tuple1))
tuple2 = (1, 5, 7, 9, 3)
tuple1 += tuple2
print(tuple1)
print(id(tuple1))

4558855984
('apple', 'banana', 'cherry', 1, 5, 7, 9, 3)
4563678040

In [188]:
fruits = ("apple", "banana", "cherry")
print(type(fruits))
fruits_join = "--".join(fruits)
print(fruits_join)


#print("#####################")
print()

fruits = ["apple", "banana", "cherry"]
print(type(fruits))
fruits_join = "--".join(fruits)
print(fruits_join)

<class 'tuple'>
apple--banana--cherry

<class 'list'>
apple--banana--cherry

In [194]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()
print(thisset)

set()

## Python Regular Expression

In [211]:
import re

txt = "hello planet"

#Search for a sequence that starts with "he", followed by 0 or 1  (any) character, and an "o":

x = re.findall("he.?o", txt)

print(x)

x = re.findall("he.+o", txt)

print(x)


txt = "This is another test hellllo planet"

x = re.findall("Th.{1,19}t", txt)

print(x)

[]
['hello']
['This is another test']

In [214]:
import re

#Return a list containing every occurrence of "ai":

txt = "The rain in Spain "
x = re.findall(".*ain ", txt)
print(x)

['The rain in Spain ']

In [215]:
print(x)

['The rain in Spain ']

In [227]:
x = "The rain in Spain"
split_str = x.split(" ")
print(split_str)

['The', 'rain', 'in', 'Spain']

In [229]:
spt_str = re.split("\s", x)
print(spt_str)

['The', 'rain', 'in', 'Spain']

In [231]:
spt_str = re.sub("\s", "---", x)
print(spt_str)

The---rain---in---Spain

### String Format

In [237]:
name = "Karthik"
txt = "Hello, I am {} from Trichy"
string = txt.format(name);
print(string)
print(txt.format(spt_str))

Hello, I am Karthik from Trichy
Hello, I am The---rain---in---Spain from Trichy

In [241]:
id = 9254
dept = "Automation"
string =" I am {} my employee id is {} and working in {:.3f} department"
print(string.format(name, dept, id))

 I am Karthik my employee id is Automation and working in 9254.000 department

In [242]:
myorder = "I have a {carname}, it is a {model}."
print(myorder.format(carname = "Ford", model = "Mustang"))

I have a Ford, it is a Mustang.