# 1 Replace String

In [72]:
def replace_string(base_string):
    replaced_string = ""
    str_list = base_string.split()
        
    for data in str_list:
        if "latest_slice" in data:   ## take the string for replacing
            inner_split = data.split("::")
            table_name = inner_split[1]
            replace_str = " (SELECT * FROM {} WHERE ds = 'LATEST') ".format(table_name)
            replaced_string += replace_str
        else:
            replaced_string += data+" "
#     print(replaced_string) 
    return replaced_string
            
    
base_string = "SELECT * FROM latest_slice::sale_order so INNER JOIN latest_slice::res_partner rp ON so.id = rp.id"
print(replace_string(base_string))

SELECT * FROM  (SELECT * FROM sale_order WHERE ds = 'LATEST') so INNER JOIN  (SELECT * FROM res_partner WHERE ds = 'LATEST') rp ON so.id = rp.id

In [ ]:
counts how many days driver John Smith made deliveries in 2017 September (active days).

#  2 SQL Quries

In [ ]:
1. SELECT dr.driver, count(dl.id) from deliveries dl inner JOIN drivers dr on dl.driver_id = dr.id 
where dr.city ="Dubai" and dl.day like '%2017, septemper';

2. select dr.name, count(dl.id) from deliveries dl inner JOIN drivers dr on dl.driver_id = dr.id 
 where city="Dubai" group by driver_id having count(dl.id) > 1000;
    
3.select count(dl.) from deliveries dl inner join drivers dr on dr.id = dl.driver_id where day = '2017-09-01' and dr ='Join Smith'

4 select * from deliveries dl inner join drivers dr on dr.id <> dl.driver_id where day = "2017-0911"

# 3.Employee Class

In [6]:
class Employee:
    
    def __init__(self, *args, **kwargs):
        self.fullname = args[0]
        
        self.first_name = self.fullname.split(" ")[0]
        if self.fullname.split(" ")[1]:
            self.last_name = self.fullname.split(" ")[1]
        
        dict_data = kwargs
        self.salary = dict_data.get('salary')
        self.height = dict_data.get('height')
        self.nationality = dict_data.get('nationality')
        
#         for key, values in dict_data.items():  ## I will workout later
#             print(key)
#             self.key = dict_data.get(key)
                
giancarlo = Employee("Giancarlo Rossi", salary=115000, height=182, nationality="Italian")
joe = Employee("Joe")
mary = Employee("Mary Major", salary=120000)
richard = Employee("Richard Roe", salary=110000, height=178)
print(joe.first_name)
print(mary.last_name)
print(giancarlo.nationality)

IndexError: list index out of range

#  4. Using List Comprehension for Performance

In [78]:
import os
from time import time
from random import randint

# cur_dir = os.path.dirname(_file_)
# file_name = os.path.join (cur_dir, 'random_numbers_1.txt')
file_name = "random_numbers.txt"
a = time()
random_number = ''
"""
for i in range(5000000):
    random_number += str(randint (0, 9999))  
    random_number += '\n'
"""
random_number = ''.join([str(randint (0, 9999)) + '\n' for i in range(5000000)])   ## Using List comprehension for performance
# random_number = ''.join(random_number)
with open(file_name, 'w') as f:
    f.write(random_number)

b = time()
print(f'Execution time: {b-a}')

Execution time: 4.403676509857178

In [3]:
import os
from time import time
from random import randint

# cur_dir = os.path.dirname(_file_)
# file_name = os.path.join (cur_dir, 'random_numbers_1.txt')
file_name = "random_numbers.txt"
a = time()
random_number = ''
# for i in range(5000000):
#     random_number += str(randint (0, 9999))  
#     random_number += '\n'

random_number = ''.join([str(randint (0, 9999)) + '\n' for i in range(5000000)])   ## Using List comprehension for performance
# random_number = ''.join(random_number)
with open(file_name, 'w') as f:
    f.write(random_number)

b = time()
print(f'Execution time: {b-a}')

Execution time: 16.076080083847046