# Data Types


- bool: Boolean (true/false) types. Supported precisions: 8 (default) bits.
- int: Signed integer types. Supported precisions: 8, 16, 32 (default) and 64 bits.
- float: Floating point types. Supported precisions: 16, 32, 64 (default) bits and extended precision floating point (see note on floating point types).
- string: Raw string types. Supported precisions: 8-bit positive multiples.

### bool -> True, False / 1,0
### int -> 3,5,-1,-9
### float -> 3.45 
### str -> 'data scientist'

In [ ]:
# bool, int, float, str
a = 'Data Science'
print(a)
type(a)

### This Python Tut
This is 
- this is point 1
- this is point 2

In [ ]:
type(a)

In [ ]:
z = True
type(z)

In [ ]:
#Autotypecasting
3 + 4.5

In [ ]:
True + 2

In [ ]:
int(5.6)

## Forced Typecasting

In [ ]:
3 + int(4.5)

In [ ]:
bool(-18)

In [ ]:
# bool -> int -> float -> string
bool(-18)

In [ ]:
name = 'ashok'
type(name)

# Type Casting

In [ ]:
3 + 6.5

In [ ]:
# bool -> int -> float -> str
True + 6 + 7.5

In [ ]:
int(7.9) + 3

In [ ]:
bool(0)

In [ ]:
#Auto typecasting
True + 3 + int(4.5)

In [ ]:
# Bool -> int -> float -> str

In [ ]:
True + 18

In [ ]:
str(3) + 'Ashok'

In [ ]:
#Manual / forced type casting
4 + float('9.5')

In [ ]:
4.5 + 5 + bool(-8) + int('6') + 3.5 + True

In [ ]:
%pwd

In [ ]:
float('6.5')

In [ ]:
int('7') + 5

In [ ]:
int('ashok')

In [ ]:
bool(-1)

In [ ]:
a = 3.4
type(a)

In [ ]:
#forced / manual typecasting
int(a)

In [ ]:
#auto type casting
5 + 6.7

In [ ]:
# bool --> int --> float --->str

In [ ]:
a= 3
b = 4.5
print(type(a))
print(type(b))

In [ ]:
a + int(b)

In [ ]:
3 + int('4')

In [ ]:
# True -> 1, False -> 0
False + 4

In [ ]:
#Anything not zero is taken as booleon True
bool(-18)

In [ ]:
3 + int('6')

In [ ]:
3 + int('4.5')

In [ ]:
3 + int(4.5)

In [ ]:
int(float('4.5'))

In [ ]:
bool(4.5)

In [ ]:
3.5 + bool(-18) + int('3')

In [ ]:
name = "ashok"
type(name)

In [ ]:
type(a)

In [ ]:
b = 4.5

In [ ]:
type(b)

In [ ]:
z = True

In [ ]:
type(z)

In [ ]:
a = 3
b = 5.4

In [ ]:
c = a+b
c

In [ ]:
type(c)

In [ ]:
3.0 + False

In [ ]:
int(3.4)

In [ ]:
4 + int('a')

In [ ]:
float(3)

In [ ]:
bool(-18.9)

In [ ]:
int(3.4 + bool(-20)+int(8.4))

In [ ]:
%pwd

## Slicing

In [ ]:
a = 'I am a Data Scientist'
print(a)
a[3] # selector operator []

In [ ]:
a

In [ ]:
a[0:4] # : is slicing operation

In [ ]:
a[5:] # : is slicing operation

In [ ]:
a[:5]

In [ ]:
# : -> slicing operator
a[7:]

In [ ]:
a[:7]

In [ ]:
a

In [ ]:
a[7:21:2]   # [start:end:step]

In [ ]:
a[-9:-12]

In [ ]:
#Index starts from ZERO 0
a[7]

In [ ]:
a

In [ ]:
# Slicing Operator :  Gives you Range
a[7:21:1]

In [ ]:
print(a)
a[0:15:2]

In [ ]:
a[-5:]

In [ ]:
# :  is a slicing operator
a[7:11]

In [ ]:
a[7:]

In [ ]:
a[:11]

In [ ]:
print(a)
bool(a)

In [ ]:
d = '32'
print(d)
type(d)

In [ ]:
float(d)

In [ ]:
b = 0
bool(b)

In [ ]:
3 + 2.5

In [ ]:
int('3') + 6.7 + bool("Me")

In [ ]:
a = 3
b = 5.9
a+b

In [ ]:
b = 3.9
c = False
b+c

In [ ]:
d = '3'
d
a= 6
a+int(d)

In [ ]:
a=3.5
b=5
print(type(a))
print(type(b))

In [ ]:
int(a) +b

In [ ]:
bool(-10) * 3

In [ ]:
z = False
a*z

In [ ]:
a = "I am a DataScientist"
len(a)

In [ ]:
message[10:3]

In [ ]:
message[5:10]

In [ ]:
message[45:34]

In [ ]:
This is to test

In [ ]:
a='I am a Data Scientist'
type(a)

In [ ]:
c = 20/6
c

In [ ]:
d = 'This is interesting'
d
len(d)

In [ ]:
a = 3
b = 5
print(a)
print(b)

In [ ]:
type(3)
type(4.0)

In [ ]:
print(type(2))  # returns 'int’ 
print(type(2.0)) # returns 'float’ 
print(type('two')) # returns 'str’ 
print(type(True)) # returns 'bool’ 
print(type(None)) # returns 'NoneType'

In [ ]:
a=3.0
print(a)

In [ ]:
type(a)

In [ ]:
print(a)

In [ ]:
import datetime as dt

In [ ]:
td = dt.date.today()

In [ ]:
print(td.month)

In [ ]:
print(dt.datetime.now())

In [ ]:
td =dt.date.today()

In [ ]:
christmas_day = dt.date(2018,12,25)

In [ ]:
print(christmas_day -td)

In [ ]:
dt.date.today()

In [ ]:
tday = dt.date.today()
tday

In [ ]:
someday = dt.date(2018,12,20)
someday

In [ ]:
print(someday - tday)

In [ ]:
# dt is alias name of datetime
import datetime as dt

In [ ]:
sometime = dt.datetime.strptime('27-11-2018','%d-%m-%Y')

In [ ]:
sometime

In [ ]:
dt.date(2018,9,29)

In [ ]:
tday = dt.date.today()
tday

In [ ]:
someday = dt.date(2018,12,20)
someday

In [ ]:
someday - tday

In [ ]:
print(dta.date.today())

In [ ]:
td = dt.date.today()

In [ ]:
type(td)

In [ ]:
print(datetime.date.today())

In [ ]:
tday.day

In [ ]:
datetime.date.today()

In [ ]:
tday = dt.date.today()
print(tday)
type(tday)

In [ ]:
type(tday)

In [ ]:
someday = dt.date(2019,10,20)

In [ ]:
print(someday)

In [ ]:
someday.month

In [ ]:
someday - tday

In [ ]:
dt.datetime.strptime('03-1900',"%m-%Y")

In [ ]:
print(someday - td)

In [ ]:
datetime.date.today()

In [ ]:
import datetime as dt
dt.date.today()

In [ ]:
from datetime import date

In [ ]:
date.today()

In [ ]:
print(dt.date.today())

In [ ]:
from datetime import date

In [ ]:
a = 3
type(a)

In [ ]:
td = date.today()
print(td)
td.month

In [ ]:
td = date.today()

In [ ]:
type(td)

In [ ]:
a = '2018-7-20'

In [ ]:
type(a)

In [ ]:
from datetime import date
someday = date(2018,7,20)

In [ ]:
print(someday)

In [ ]:
print(someday - td)

In [ ]:
someday = dt.date(2016,5,25)

In [ ]:
td - dt.timedelta(days=100,hours=100)

In [ ]:
tday+dt.timedelta(days=350,hours=100)

In [ ]:
dt.datetime.now()-dt.timedelta(days=-350,hours=95)

In [ ]:
date.today() + dt.timedelta(hours=40)

In [ ]:
today = dt.date.today()
today
startdate = date(2018,1,1)

In [ ]:
tday + dt.timedelta(days=-40,hours=200)

In [ ]:
print(dt.datetime.now())

In [ ]:
print(today-startdate)

In [ ]:
from datetime import date
today = date.today()

In [ ]:
from datetime import date
from datetime import datetime

today = date.today()
print(dt.datetime.now())

In [ ]:
td + dt.timedelta(days=100, hours=48)

In [ ]:
tday

In [ ]:
tday.month

In [ ]:
tday.isoweekday()

In [ ]:
print(tday + datetime.timedelta(days=20, hours=72))

In [ ]:
print(someday)

In [ ]:
someday.isoweekday()

In [ ]:
from datetime import date
day1 = date(2010, 6, 20)

In [ ]:
day100 = today + dt.timedelta(days=100)

In [ ]:
day100.isoweekday()

In [ ]:
import datetime as dt
day1 = date(2010, 6, 20)
print(day1)

newdate = day1 + dt.timedelta(hours=10,minutes=40)

In [ ]:

import datetime

otherday = day1 + datetime.timedelta(days=400)
print(otherday)

my_bday = date(1978, 6, 10)

print(date.today()-my_bday)

In [ ]:
my_birthday = date(today.year, 6, 24)
my_birthday = my_birthday.replace(year=today.year + 1)
print(my_birthday)

time_to_birthday = abs(my_birthday - today)
print(time_to_birthday.days)

In [ ]:
print(date.today())
print(date.weekday(date.today()))
print(date.isoweekday(date.today()))
print(date.today())

date.today()

# Math Operators

In [4]:
print(10 + 4) # add (returns 14) 
print(10 - 4) # subtract (returns 6) 
print(10 * 4) # multiply (returns 40) 
print(10**4) # exponent (returns 10000) 
print(10 / 4) # divide (returns 2.5) 
print(5 % 4) # modulo (returns 1) - also known as the remainder

14
6
40
10000
2.5
1

#  Comparision / Logical  Operators

In [5]:
# comparisons (these return True) 
print(5 > 3 )
print(5 >= 3)
print(5 < 3 )
print(5 <= 3)
print(5 != 5)
print(5 == 5) # boolean operations (these return True) 

# evaluation order: not, and, or

True
True
False
False
False
True

### Logical Operators

T and T  --> T <br/>
T and F  --> F<br/>
F and T  --> F<br/>
F and F  --> F<br/>
### AND is only True if all are True
T or T  --> T<br/>
T or F  --> T<br/>
F or T  --> T<br/>
F or F  --> F<br/>
### OR is only False if all are False



</br>

In [6]:
# Logical operators and or
(5>3) or (10>12)

True

In [7]:
print(5 > 3 and 6 < 3 )
print(5 > 3 or 5 < 3 )

False
True

In [6]:
True == 1

True

In [ ]:
True == bool(-18)

In [7]:
(5 >= 3 or 6 > 100) and (True == bool(23))

True

## Conditional Statement

In [ ]:
if (5 < 3):
    print("This is true")
    print("I am in True block")
else:
    print("This is false")
    
print("I am out of IF block")

In [ ]:
x = 2

if (x>0):
    print("Positive number")
    print("In the IF block")
else:
    print("Negative number")
    print("In the else block")

In [ ]:
x=5
if (x>0):
    print("X is a positive")
    print("I m if True Block")
else:
    print("X is a Negative")
    print("I m if Else/False Block")
    
print("I am out of IF-ELSE block")

In [ ]:
if 5 < 3:
    print("I am in if block")
    print("So the statement is TRUE")
else:
    print("I am in ELSE block")
    
print("I am anyway printed, out of IF")

In [ ]:
False or -18

In [ ]:
if (5<3) :
    print("True")
    print("another statement")
else :
    print("False")
    print("another else st")
print("This prints anyway")

# Conditional Statements

In [ ]:
x=12
if (x>10) :
    print("This is True or IF block")
    print("I am still in IF")
else :
    print("This is else block")
    
print("\n ---- \n I am out of IF block")

In [ ]:
if (5<3):
    print("This is IF block")
else :
    print("This is Else Block")

In [ ]:

if (5<3) :
    print("True block statement 1")
    print("True block statement 2")
    print("True block statement 3")
else:
    print("False block")

In [ ]:
x = 0
if (x > 0) :
    print("X is Positive")

elif (x<0):
    print("X is Negative")   
else:
    print("X is ZERO")

In [ ]:
x=-100

if ((x>0) or (x==-100)):
    print("X is positive Value or -100")
    print("I am if loop")
elif (x<0):
    print("I am in else if block")
    print("X is negative")
else:
    print("X is Zero")
    
print("I am out of IF looP")

In [ ]:
x = 6

if x%2 == 0 :
    print(x, " is even number")
    print("hello..")
else :
    print(x, " is ODD number")

print("this is out of IF else block")

In [ ]:
x = -20
# if/elif/else statement
if x > 0:
    print('positive') 
    print('hello')
elif x == 0: 
    print('zero') 
else: 
    print('negative') 
print("I am out of IF block")

In [ ]:
# single-line if statement (sometimes discouraged) 
x=5
if x > 0: print('positive')

# Lists
 Python lists are very flexible and can hold completely heterogeneous, arbitrary data, and they can be appended to very efficiently.

In [ ]:
a = [3,4,6.5,True,[4,5],'Ashok']
a

In [ ]:
a[4][1]

In [ ]:
type(a)

In [ ]:
a = [ 3, 4, 'ashok',[12,14,22],True]
a

In [ ]:
a[3][1]

In [ ]:
a = [2,True,3.4,4,'data science',[50,60]]
a

In [ ]:
a[5][1]

In [ ]:
type(a[1])

In [ ]:
myfamily = ['mom','dad','me']
myfamily

In [ ]:
myfamily.sort()
myfamily

In [ ]:
myfamily.append('wife')
myfamily

In [ ]:
myfamily.extend(['bro','sis','grandma'])
myfamily

In [ ]:
myfamily.remove('bro')
myfamily

In [ ]:
myfamily.pop(-1)

In [ ]:
myfamily

In [ ]:
myfamily.insert(1,'uncle')
myfamily

In [ ]:
myfamily[-3:]

In [ ]:
myfamily.

In [ ]:
z = [3,4.0,True]
z

In [ ]:
a = [3,4.0,True,'ashok',[56,78,89]]
a

In [ ]:
a[4][2]

In [ ]:
myfamily = ['dad','mom','me']

In [ ]:
myfamily.append('wife')

In [ ]:
myfamily.extend(['bro','sis','grandma','grandfa'])
myfamily

In [ ]:
myfamily.remove('bro')
myfamily

In [ ]:
myfamily.pop(-1)

In [ ]:
myfamily

In [ ]:
myfamily.insert(4,'sis-in-law')
myfamily

In [ ]:
myfamily.extend(['wife','sis-in-law','daughter'])
myfamily

In [ ]:
myfamily.append('grand ma')

In [ ]:
myfamily

In [ ]:
myfamily.pop(0)

In [ ]:
myfamily

In [ ]:
my_list = [3,4,15,5.9]
print(my_list)
type(my_list)

In [ ]:
my_list.sort()
my_list

In [ ]:
myfamily = ['mom','dad','me']
myfamily

In [ ]:
myfamily.extend(['wife','brother'])

In [ ]:
myfamily.append('sis')
myfamily

In [ ]:
myfamily.extend(['wife','bro','daughter'])

In [ ]:
myfamily

In [ ]:
myfamily.insert(0,'grandma')
myfamily.

In [ ]:
myfamily.sort(reverse=True)
myfamily

In [ ]:
myfamily

In [ ]:
myfamily

In [ ]:
myfamily

In [ ]:
myfamily.pop(4)

In [ ]:
myfamily

In [ ]:
myfamily.remove('brother')
myfamily

In [ ]:
myfamily

In [ ]:
family.extend(['bro','uncle','aunt'])
family

In [ ]:
myfamily

In [ ]:
family.append('wife')
family

In [ ]:
family.insert(4,"sis")
family

In [ ]:
family.pop(3)

In [ ]:
family

In [ ]:
family.remove('me')

In [ ]:
## properties: ordered, iterable, mutable, can contain multiple data types       
# create an empty list (two ways) 
empty_list = [] 
empty_list = list() 
# create a list 
simpsons = ['homer', 'marge', 'bart']
# examine a list 
print(simpsons[0])        # print element 0 ('homer’) 
print(len(simpsons))    # returns the length (3)
 # modify a list (does not return the list) 
simpsons.append('lisa') # append element to end 
simpsons.extend(['itchy', 'scratchy'])  # append multiple elements to end 
print(simpsons)

In [ ]:
family.remove('me')

In [ ]:
family.pop(2)

In [ ]:
myfamily.sort()

In [ ]:
z = [3, 4.5,True]
z.sort()
z

# Tuples
A tuple is a sequence of immutable Python objects. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets. Creating a tuple is as simple as putting different comma-separated values.

In [ ]:
simpsons.insert(0, 'maggie')  # insert element at index 0 (shifts ˓→everything right) 
print(simpsons)
simpsons.remove('bart')  # searches for first instance and removes it 
print(simpsons)
simpsons.pop(0) # removes element 0 and returns it del
print(simpsons)
simpsons[0] = 'krusty' # replace element 0
print(simpsons)

In [ ]:
# create a tuple 
digits = (0, 1, 'two',0,1,1,1)  # create a tuple directly 
#recommend way to by using tuple function
digits = tuple([0, 1, 'two'])  # create a tuple from a list 
# examine a tuple 
print(digits[2])  # returns ‘two’ 
print(len(digits)) # returns 3 
print(digits.count(0))  # counts the number of instances of that value (0) digits.index(1)  # returns the index of the first instance of that value (1)

In [ ]:
# create a tuple 
digits1 = (0, 1, 'two',0,1,1,1)  # create a tuple directly 
# examine a tuple 
print(digits1.count(1))  # counts the number of instances of that value (0) digits.index(1)  # returns the index of the first instance of that value (1) 
len(digits1)

In [ ]:
digits[1]= 'one' #returns an assignment error

In [ ]:
my_tuple = (1,3.0,'works')
my_tuple
my_tuple2 = tuple(["this works too",8,10,True])
type(my_tuple2)

# Strings

In [ ]:
# create a string 
s = 'I like you' # examine a string 
s[0] # returns 'I’ 
len(s) # returns 10 
# string slicing like lists
s[:6] # returns 'I like’
s[7:] # returns 'you’
s[-1] # returns 'u'

In [ ]:
s = 'I am a Data Scientist'
s[-9:]

In [ ]:
snew = 'Hello Data Science World'
snew[-5:]

In [ ]:
s1[6:3]

# Dictionaries
Python dictionary is an unordered collection of items. While other compound data types have only value as an element, a dictionary has a key: value pair.

Dictionaries are optimized to retrieve values when the key is known.

In [ ]:
cust = dict(name='Rakesh',type='premier',loc ='Bangalore')

In [ ]:
cust['loc']

In [ ]:
# create an empty dictionary (two ways) 
empty_dict = {} 
empty_dict = dict() 
# create a dictionary (two ways) 
cust_profile = dict(cust_id = 24,name='Anand', age=30, 
                    job=['programmer','CEO','Data Scientist'],
                    location="bangalore", years_Exp=17) 
cust_profile.keys()

In [ ]:
cust = dict( name = 'ashok',job = "DS Trainer", exp = 17)

In [ ]:
cust['job']

# Sets
A set contains an unordered collection of unique and immutable objects. The set data type is, as the name implies, a Python implementation of the sets as they are known from mathematics. This explains, why sets unlike lists or tuples can't have multiple occurrences of the same element.

In [ ]:
# create an empty set
empty_set = set()
# create a set
lang = {'python', 'r', 'java'} # create a set directly 
snakes = set(['cobra', 'viper', 'python','viper']) # create a set from a list 
print(lang)
print(snakes)

In [ ]:
snakes.union(lang)

In [ ]:
snakes.intersection(lang)

In [ ]:
# examine a set 

lang.intersection(snakes)

In [ ]:
languages.union(snakes)

# Functions

In [ ]:
#args weight in kilograms,height in cms 
def bmi(w,h):
    bmi = w/(h/100)**2
    if bmi>25:
        print(int(bmi)," This is above normal. Workout")
    else:
        print(int(bmi),"  Perfect!")

In [ ]:
bmi(90,165)

In [ ]:
def hello():
    print("Hello Data Science world")

In [ ]:
hello()

In [ ]:
def hello(name):
    print("Hello ",name)

In [ ]:
hello("Ashok")

In [ ]:
def squareit(x=0):
    if(x==0):
        print("please give a number for squaring")
    else:
        return x**2


squareit(3)

In [ ]:
def helloo():
    print('Hi , I am from ABC corp Hello')
    print('function end')

In [ ]:
helloo()

In [ ]:
bmi(70,175)

In [ ]:
mybmi

In [ ]:
def sayhello():
    return print("HELOOOOO")

In [ ]:
bmi(76,179.8)

In [ ]:
sayhello()

In [ ]:
def c2f(deg):
    return deg*(9/5)+32





def bmi(weight,height):
     return weight / (height/100)**2


bmi(78,182)

In [ ]:
ban_temp=c2f(23)
ban_temp

In [ ]:
def iseven(x):
    if x%2==0: 
        print("It is even")
    else:
        print("it is odd")

In [ ]:
iseven(6)

In [ ]:
def iseven(x=''):
    if (x==''):
        return print("please provide arg")
    elif (x%2==0):
        return True
    else:
        return False

In [ ]:
z = iseven(7)

In [ ]:
z

In [ ]:
# define a function with one argument and no return values 
def print_this(x): print(x) 

print_this(2)

# Loops

In [ ]:
# alternative for loop (recommended style)
fruits = ['apple', 'banana', 'kiwi','gauva','mango'] 

for x in fruits:
    if x == 'kiwi':
        print('Hi its Kiwi')
    print(x)

In [ ]:
for x in range(4):
    print("Hello",x)

In [ ]:

for fruit in fruits: 
        if (fruit!='banana'):
            print(fruit)

In [ ]:
a = range(10)

In [ ]:
type(a)

In [ ]:
fruit

In [ ]:
for x in range(55,60):
    print(x,' hello')

In [ ]:
print(range(10))

In [ ]:
now = dt.datetime.now()

In [ ]:
now.replace()